.profile__profile-info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

@media screen and (max-width: 880px) {
  .profile__profile-info {
    max-width: 300px;
  }
}

@media screen and (max-width: 580px) {
  .profile__profile-info {
    max-width: 282px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
